/* banner图 */
#banner{
    height: 420px;
    background-color: #e2501d;
    a{
        display: block;
        height: 100%;
        background: url('../img/banner.webp') no-repeat center;
        img{
            width: 100%;
        }
    }
}
/* banner图 */

/* 新品首发 */
#first{
    height: 540px;
    box-sizing: border-box;
    padding-top: 22px;
    position: relative;
    &_inner{
        .first_hot{
            width: 110px;
            height: 364px;
            box-sizing: border-box;
            border: 1px solid #e2ded6;
            position: absolute;
            top: 0;
            left: -136px;
            background-color: #fff;
            dl{
                height: 100%;
                dt{
                    background-color: #fffcf5;
                    border-bottom: 1px solid #e2ded6;
                    height: 37px;
                    line-height: 37px;
                    color: #bb3343;
                    text-align: center;
                    font-weight: bold;
                    cursor: default;
                }
                dd{
                    a{
                        display: block;
                        height: 36px;
                        padding: 0 11px;
                        &>div{
                            text-align: center;
                            height: 100%;
                            border-bottom: 1px solid #e2ded6;
                            .hot_img{
                                margin: 9px 0 0 6px;
                                img{
                                    width: 24px;
                                    height: 24px;
                                }
                            }
                            .hot_text{
                                font-size: 12px;
                                color: #333333;
                                line-height: 16px;
                                margin-top: 2px;
                                margin-left: 6px;
                                &:hover{
                                    color:#bb3343 ;
                                }
                            }
                        }
                    }
                }
                .d1{
                    a{
                        &>div{
                            .hot_text{
                                color: #bb3343;
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
        position: relative;
        .first_inner{
            position: relative;
            &_text{
                height: 56px;line-height: 56px;
                color: #333333;
                font-size: 12px;
                h2{
                    line-height: 46px;
                    &:hover{
                        a{
                            color: #b4a078;
                        }
                    }
                    a{
                        font-size: 26px;
                        color: #333333;
                        font-weight:bold
                    }
                }
                p{
                    margin-left: 20px;
                }
                a{
                    font-size: 12px;
                    color: #333333;
                    &:hover{
                        color: #b4a078;
                    }
                }
            }
            &_list{
                overflow: hidden;
                height: 438px;
                position: relative;
                overflow: hidden;
                &>div{
                    height: 458px;
                    width: 5000px;
                }
                .b{
                    display: block;
                }
                .n{
                    display: none;
                }
                ul{
                    position: absolute;
                    width: 1090px;
                    height: 438px;
                    top: 0;
                    &:nth-of-type(1){
                        left: 0;
                    }
                    &:nth-of-type(2){
                        left: 1200px;
                    }
                    &:nth-of-type(3){
                        left: 2400px;
                    }
                    &:nth-of-type(4){
                        left: 3600px;
                    }
                }
                li{
                    float: left;
                    margin-right: 10px;
                    width: 265px;
                    height: 364px;
                    box-sizing: border-box;
                    &:last-of-type{
                        margin-right: 0;
                    }
                    &:hover{
                        background-color: #f4f0ea;
                        .list_img{
                            .list_img2{
                                display: block;
                            }
                        }
                    }
                    .list_img{
                        position: relative;
                        height: 265px;
                        .list_img1,.list_img2{
                            display: block;
                            position: absolute;
                            left: 0;top: 0;
                        }
                        .list_img2{
                            display: none;
                        }
                    }
                    .list_text{
                        text-align: center;
                        h3{
                            line-height: 20px;
                            margin-top: 31px;
                            a{
                                font-size: 12px;
                                color: #333333;
                                font-weight: bold;
                            }
                        }
                        p{
                            color: #d4282d;
                            font-size: 12px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
        .first{
            &_prev,&_next{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #e2c199;
                text-align: center;
                line-height: 50px;
                color: #fff;
                position: absolute;
                top: 208px;
                font-size: 26px;
                cursor: pointer;
            }
            &_prev{
                left: -60px;
                background: #e7e2d7;
            }
            &_next{
                right: -60px;
            }
        }
    }  
}
/* 新品首发 */

/* 人气推荐 */
#recommend{
    height: 738px;
    background-color: #f4f0ea;
    &_inner{
        box-sizing:border-box;
        padding-top: 62px;
        .recommend{
            &_text{
                height: 46px;
                h2{
                    margin-right: 33px;
                    a{
                        display: block;
                        font-size: 26px;
                        line-height: 26px;
                        font-weight: bold;
                        color: #333333;
                    }
                }
                p{
                    line-height: 24px;
                    font-size: 14px;
                    color: #333333;
                    padding: 0 7px;
                    margin-right: 30px;
                    cursor: pointer;
                }
                .active{
                    color: #b4a078;
                    border-bottom: 2px solid #b4a078;
                }
                a{
                    font-size: 14px;
                    color: #333333;
                    &:hover{
                        color: #b4a078;
                    }
                }
            }
                &_list{
                    height: 570px;
                    dt,dd{
                        background-color: #fff;
                        box-sizing: border-box;
                        &:hover{
                            &>a{
                                img{
                                    transform:scale(1.1);
                                    transform-origin:center center;
                                }
                            }
                        }
                        &>a{
                            display: block;
                            box-sizing: border-box;
                            img{
                                transition: 1s;
                                display: block;margin: 0 auto;
                            }
                        }
                        &>div{
                            border-top: 1px solid #f4f0ea;
                            text-align: center;
                            a{
                                color: #333333;
                                font-weight: bold;
                                display: block;
                                &:hover{
                                    color: #b4a08e;
                                }
                            }
                            p{
                                color: #d7282d;
                            }
                        }
                    }
                        dt{
                            width: 390px;
                            height: 100%;
                        }
                    &_img{
                        height: 400px;
                        padding-top: 40px;
                    }
                    &_text{
                        a{
                            width: 170px;
                            margin: 0 auto;
                            padding-top: 54px;
                            line-height: 16px;
                        }
                        p{
                            line-height: 54px;
                        }
                    }
                    dd{
                        margin-left: 10px;
                        box-sizing: border-box;
                        width: 223px;
                        height: 280px;
                        margin-bottom: 10px;
                        div{
                            a{
                                width: 132px;
                                margin: 0 auto; 
                                margin-top: 32px;
                                font-size: 12px;
                                line-height: 20px;
                            }
                            p{
                                font-size: 12px;
                                line-height: 24px;
                            }
                        }
                    }
            }
        }
    }
}
/* 人气推荐 */

/* 限时购 */
#limit{
    height: 595px;
    box-sizing: border-box;
    padding-top: 52px;
    .limit{
        &_title{
            height: 54px;
            a:hover{
                color: #b4a078;
            }
            &>a{
                font-size: 14px;
                color: #333333;
                float: right;
                line-height: 54px;
            }
            h2{
                a{
                    float: left;
                    font-size: 26px;
                    color: #333333;
                    font-weight: bold;
                    line-height: 42px;
                }
            }
        }
        &_list{
            height: 430px;
            box-sizing: border-box;
            dt,dd{
                box-sizing: border-box;
            }
            dt{
                width: 224px;
                height: 100%;
                float: left;
                a{
                    display: block;
                    height: 100%;
                }
            }
            dd{
                width: 432px;
                height: 214px;
                float: left;
                border: 1px solid #f0ece4;
                &:hover{
                    &>a{
                        img{
                            transform:scale(1.1)
                        }
                    }
                }
                &>a{
                    float: left;
                    height: 100%;
                    img{
                        transition: 1s;
                    }
                }
                &>div{
                    float: left;
                    box-sizing: border-box;
                    padding-top: 20px;
                    a{
                        font-size: 16px;
                        color: #000000;
                        line-height: 16px;
                        &:hover{
                            color: #b4a078;
                        }
                    }
                    .p1{
                        font-size: 14px;
                        color: #999999;
                        line-height: 34px;
                    }
                    div{
                        height: 32px;
                        line-height: 32px;
                        div{
                            margin-top: 11px;
                            width: 150px;
                            height: 8px;
                            border: 1px solid #f2cecd;
                            border-radius: 5px;
                            float: left;
                        }
                        span{
                            font-size: 14px;
                            color: #999999;
                            float: right;
                            margin-left: 10px;
                        }
                    }
                    .p2{
                        height: 22px;
                        line-height: 22px;
                        font-size: 12px;
                        color: #be4141;
                        span{
                            color: #be4141;
                            font-weight: bold;
                            font-size: 18px;
                        }
                        i{
                            margin-left: 20px;
                            font-size: 14px;
                            color: #999999;
                            text-decoration:line-through
                        }
                    }
                    button{
                        margin-top: 20px;
                        width: 116px;
                        height: 30px;
                        background-color: #fff3f3;
                        color: #d25a5a;
                        border: 1px solid #d25a5a;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
/* 限时购 */
